{% extends "base.html.twig" %}

{% block title %}Edit Badger{% endblock %}

{% block body %}

<p>Are you sure you really want to delete this item?</p>
<p>This action can not be undone.</p>

{{ form(form) }}
<img src="{{ asset('/uploads/images/' ~ imageFileName) }}" alt="{{ imageFileName }}" class="badgerImage small" /img>

{% endblock %}
