{% extends "base.html.twig" %}

{% block body %}

<h1>Badger website</h1>

<h2>{{ name }}</h2>

<h3>Continent</h3>
<p>
    {{ continent }}
</p>

<h3>Description</h3>
<p>
    {{ description }}
</p>

{% endblock %}
