{% extends 'base.html.twig' %}

{% block title %}Hello CreateBadgerController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ message }}</h1>
    {% for error in errors %}
        <p>{{ error.propertyPath }}: {{ error.message }}</p>
    {% endfor %}
    {{ form(form) }}
</div>
{% endblock %}
